<div>
  <div className="splash_container">
    <div className="stage col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 text-center">
      <span className="famhubtitle">Welcome to Family Hub!</span>
      <form className="form-inline">
        <div className="form-group form-group-lg emailform text-center">
          <input
            type="email"
            className="paddingright form-control form-control-lg"
            id="email"
            placeholder="Enter Family Gmail" value={this.props.defaultEmail}
            onChange={ (event) => this.props.updateEmailText(event.target.value) }
          ></input>
        </div>
        <button
          type="submit"
          className="btn btn-default btn-lg"
          onClick={this.props.saveEmail}
        >Enter
        </button>
      </form>
    </div>
    <div class="meet-the-team">
<img id="logo" src="https://res.cloudinary.com/gus-armistead/image/upload/v1463048305/manager_3_svr2x7.png" width="70px"></img>

<h1 class="title our-team">Our Team</h1>

<ul class="team-container">
<li class="team-item">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA0LAAAAJGViYTBhMjE4LTk4NjMtNGE0YS1iZTU2LTliNTFlNmJiYzBkNQ.jpg" alt="team member one"></img>

  <div class="team-info" style="display: none;">
    <div class="effect">
      <h1 class="team-name">Linda Call</h1>
      <p class="team-job">CEO</p>
      <p class="team-bio">IT | Curious | Inquisitive | Enquiring | Thirst for knowledge</p>
      <h2 class="team-contact"><a href="tel:01524548948">01524 548948</a></h2>
    </div>
  </div>
</li>

<li class="team-item">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAsGAAAAJGJkMGZmMDYzLTAwMDEtNDkxNy05YjA2LTQwNjcwNWJmMGVlMg.jpg"></img>

  <div class="team-info" style="display: none;">
    <div class="effect">
      <h1 class="team-name">Zach Passarelli</h1>
      <p class="team-job">CIO</p>
      <p class="team-bio">Enthusiastic | Passionate | Driving force | Motivator | Achiever</p>
      <h2 class="team-contact"><a href="tel:01524548948">01524 548948</a></h2>
    </div>
  </div>
</li>

<li class="team-item">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlbAAAAJGQyZGM0OTgwLTUxYWEtNDdhNS1hNGVlLWQ1MzM0Y2VkYTZmZg.jpg"></img>

  <div class="team-info" style="display: none;">
    <div class="effect">
      <h1 class="team-name">Tucker Triggs</h1>
      <p class="team-job">CTO</p>
      <p class="team-bio">Practical | Easy-going | Kind-hearted | Steady | Generous | Laid-back</p>
      <h2 class="team-contact"><a href="tel:01524548948">01524 548948</a></h2>
    </div>
  </div>
</li>

<li class="team-item">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAzIAAAAJGY1ZTNiYWNhLTNlZWEtNDEwMy05YTNmLWJlMmE4MmM0Yzc3NQ.jpg"></img>

  <div class="team-info" style="display: none;">
    <div class="effect">
      <h1 class="team-name">GP Ciancio</h1>
      <p class="team-job">CFO</p>
      <p class="team-bio">Deep thinker | Solutions | Ideas | Resourceful</p>
      <h2 class="team-contact"><a href="tel:01524548948">01524 548948</a></h2>
    </div>
  </div>
</li>
</div>
</div>
</div>
