body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  touch-action: none;
}

/* Splash Page */
.bigbutton  {
  width: 300px !important;
  margin-top: 20px;
  background-color: rgb(102,140,217);
}
.introtext {
  padding: 3px;
  padding-bottom: 30px;
  color: rgb(245,245,245);
  font-family: 'Open Sans', sans-serif;
  margin: 0 110px;
}
.introtextlg {
  font-size: 16px;

}
.totalcontain {
  display: block;
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.splash_container {
  display: block;
  width: 100%;
  z-index: 100;
  background-image: url("./img/ipadfam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

}

.stage {
  margin-top: 150px;
  font-size: 1.4rem;
  font-weight: 200;
  padding: 90px 20px 25px;
  text-align: center;
  color: white;
  background-color: rgba(240, 248, 255, .1);
  z-index: 1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.stage2 {
  margin-top: 150px;
  font-size: 1.4rem;
  font-weight: 200;
  padding: 90px 20px 25px;
  text-align: center;
  color: white;
  background-color: rgba(240, 248, 255, .1);
  z-index: 1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.emailform {
  font-size: 1.2em;
}

.skip {
  margin-right: 65px;
}

.learnmore {
  margin-left: 65px;
}

.backtologin {
}

.splashbuttons {
  margin-top: 70px;
}

.splashbutton {
  cursor: pointer;
  color: rgb(245,245,245);
}

.splashbutton:hover {
  color: rgb(245,245,245);
}

/* Learn More */


.secondhalf {
  z-index: 101;
}

.meet-the-team {
  padding-top: 20px;
  /*width: 380px;*/
  margin: auto;
}

.title {
  color: rgb(245,245,245);
  /*color: #222;*/
  text-align: center;
  margin-top: 5px;
  position: relative;
}

.aboutfam {
  margin-bottom: 10px;
    margin-top: -25px;
}

.content {
  /*margin: 16px 20px;*/
}

.team-container {
  padding: 0px 20px 20px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: -45px;
}

.featurelist {
  padding-top: 15px;
  text-align: left;
  margin-left: 30px;

}

.copytext{
  margin-top: 20px;
  display: block;
  margin-left: 50px;
  margin-right: 50px;

}

.team-item {
  margin: 10px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  transition: transform 0.5s;
}

.team-item img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 2px;
}

.team-name {
  font-size: 14px;
    color: rgb(245,245,245);
  -webkit-font-smoothing: antialiased;
  -webkit-margin-before: 0.2em;
}

/* Calendar */

.calendar {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 60vh;
}

.calendar iframe {
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 50vh;
}

.backhome {
  position: absolute;
  z-index: 5;
  left: 250px;
  top: 0px;
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: rgb(102,140,217);
}

.backhome:link {
  background-color: rgb(78, 122, 213) !important;
}

.backhome:visited {
  background-color: rgb(78, 122, 213) !important;
}

.backhome:hover {
  background-color: rgb(78, 122, 213) !important;
}

.backhome:active {
  background-color: rgb(78, 122, 213) !important;
}

.weather {
  position: absolute;
  top: -3px;
  left: 70vw;
}

.weather iframe {
  border-style: none;
  position: absolute;
  height: 50vh;
  width: 30vw;
  margin-top: 4px
}


/* whiteboard */

.whiteboard {
  position: absolute;
  width: 50vw;
  height: 55vh;
  top: 49vh;
  border-style: solid;
  border-width: 77px 77px 97px 77px;
  -moz-border-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/Chalkboard.svg) 73 76 97 77 repeat;
  -webkit-border-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/Chalkboard.svg) 73 76 97 77 repeat;
  -o-border-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/Chalkboard.svg) 73 76 97 77 repeat;
  border-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/Chalkboard.svg) 73 76 97 77 repeat;
}

.eraser {
  height: 40px;
  width: 60px;
  margin-left: -8px;
  margin-top: -10px;
}

.drawArea {
  display: inline-block;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  width: 100%;
  height: 100%;
}

.drawing {
  display: inline-block;
  width: 100%;
  height: 99.99%;
}

.clearButton {
  font-size: 0px;
  width: 0px;
  height: 0px;
  position: relative;
  top: -10px;
  background-color: #F8F8F8;
  border-style: none;
  border: 0px;
}

.line {
  text-decoration: line-through;
}

.famhubtitle {
  display: block;
  margin: -15px 10px 50px 10px;
  font-size: 4.5em;
  font-family: 'Exo', sans-serif;
}

.paddingright {
  height: 35px !important;
  overflow: visible !important;
  width: 300px !important;
  /*text-align: center;*/
}

.inline {
  display: inline;
}


/* Todo list styling*/

.form-control {
  display: inline;
  padding: 19px 0px;
}

.addButton {

}

.todoText {
  width: 18vw;
}

#todo-list-container {
  position: absolute;
  width: 22.4vw;
  height: 50vh;
  top: 50vh;
  left: 47.5vw;
  border-radius: 5px;
  background: rgb(227, 233, 255);
  /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 0px 10px rgba(0, 0, 0, 0.5);*/
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
}

#todo-list, #add-form {
  display: inline-block;
  font-size: 1.2em;
  text-align: left;
  width: 21vw;
}

#add-form {
  position: relative;
  top: 5vh;
}

#todo-list {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
}

#todo-list li:hover {
  color: #333333;
  background: #efefef;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#messages {
  height: 40vh;
  overflow-y: scroll;
}



/* whiteboard styling */

.path {
  fill: none;
  stroke-width: 3px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.chat {
  position: absolute;
  left: 70vw;
  top: 50vh;
}

/* Tabs */

.react-tabs__tab {
  list-style: none;
  display: inline;
  font-size: 1.3em;
  margin: 8px;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}


/* Media Queries */
/* Ipad in Landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .stage {
    margin-top: 90px;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 90px 20px 25px;
    text-align: center;
    color: white;
    background-color: rgba(240, 248, 255, .1);
    z-index: 1;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }

  .stage2 {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 90px 20px 30px;
    text-align: center;
    color: white;
    background-color: rgba(240, 248, 255, .1);
    z-index: 1;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }


/* Chicken  */


.chicken {
  position: absolute;
  top: 66vh;
  left: 43vw;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
  visibility: hidden;
}


/* The element to apply the animation to */
.chicken.show {
    transform: translate(0, -50px);
    animation-name: chickenRun;
    animation-duration: .5s;
    animation-timing-function: ease;
    visibility: visible;
}

.chickimg {
  max-width: 250px;
  max-height: 250px;
}
