body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

<<<<<<< HEAD
.splash_container {
  background-image: url("./img/ipadfam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.emailform {
  font-size: 1.2em;
}

.famhubtitle {
  display: block;
  margin: 5px 10px 50px 10px;
  font-size: 2.2em;
}

.form-control {
  padding-right: 150px;
}

.stage {
  margin-top: 370px;
  font-size: 1.4rem;
  font-weight: 200;
  padding: 40px 10px;
  text-align: center;
  color: black;
  background-color: rgba(240, 248, 255, .9);
  z-index: 1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
=======

/* Start todo list styling*/


.apptitle {
  margin: 1rem 0;
  color: #ff2968
}

.todolist {
  padding-left: 0;

  .todoitem {
    position: relative;
    margin-bottom: 0.25rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-top: 1px solid #ccc;

    &.done {
      .form-check-label {
        color: #999;
      text-decoration: line-through;
      }
    }

    &.highlight {
      border-color: #ff2968;
      background-color: #ff8fb0;

      &:last-child {
        border-color: #ff2968;
      }
    }

    &:last-child {
      border-bottom: 1px solid #ccc;
    }

    .btn-danger {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .form-check-label {
      width: 100%;

      .form-check-input {
        margin-right: 1rem;
      }
    }
  }
}

/* End todo list styling*/
>>>>>>> 7d0c3f654f1d24f3e703900e02db73e2672da231
